.checkoutmain-container{
  width: 50%;
  min-width: 305px ;
  max-width: 475px;
  height: 700px;
  margin: 150px auto 0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey ;
  border: 1px solid white;
  margin-bottom: 50px;

  .type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  hr{
    width: 90%;
  }
  .checkout-information{
    width: 90%;
    margin: 0 auto;

    .checkout-information-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 10px;

      span{
        font-weight: 300;
      }

      .checkout-information-container-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      .checkout-information-container-right{
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
      
      }
      
    }


    hr{
      width: 100%;
    }
    .checkout-google-pay-btn{
      width: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      cursor: pointer;

    

      .img{
        width: 25px;
        height: 25px;
        background-image: url(../../public/resourses/icons8-google-48.png);
        background-size: cover;
        background-position: center;
        margin-right: 5px;
      }  
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 35px;
        border-radius: 15px;
        background-color: black;
        color: white;
        &:hover{
          background-color: rgb(22, 22, 22);
          border-radius: 15px;
  
  
        }
      }
    }

    .checkout-contact{
      width: 100%;
      .contact{
        color: rgb(163, 163, 163);
        font-size: .8em;
      }
      .input-info{
        width: 100%;
        margin-bottom: 50px;

        input{
          background-color: rgb(233, 233, 233) ;
          height: 35px;
          padding: 0;
          border: none;
          border-radius: 5px;

          &::placeholder{
            color: rgb(80, 80, 80);
            text-indent: 20px;
          }
        }

        .input-email-address{
          width: 100%;
          margin: 15px 0 5px;
          

        }
        .country-phone-div{
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 3px;
          margin: 0 0 5px 0;

          .country-input{
            width: calc(35% - 3px);
          }
          .phone-input{
            width: 65%;
          }

        }
        .names-input{
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 6px;
          margin: 0 0 5px 0;

          .first-name-input{
            width: calc(55% - 6px);
          }
          .last-name-input{
            width: 45%;
          }

        }

      }
    }
    .checkout-card-info{
      width: 100%;
      margin-top: 30px ;
      margin-bottom: 30px ;
      display: flex;

      input{
        background-color: rgb(233, 233, 233) ;
        height: 35px;
        padding: 0;
        border: none;

        &::placeholder{
          color: rgb(80, 80, 80);
          text-indent: 20px;
        }
      }
      .input-card-number{
        border-radius: 5px 0 0 5px;
        width: 65%;
       
      }
      .mm-yy{
        width: 25%;
      }
      .cvv{
        width: 20%;
        border-radius: 0 5px 5px 0;

      }
    }
    .pay-btn{
      display: flex;
      cursor: pointer;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 35px;
        border-radius: 15px;
        background-color: rgb(40, 115, 255);
        font-weight: 300;
        color: white;
        margin-top: 20px;
        &:hover{
          font-weight: 400;
          background-color: rgb(31, 83, 253);
        }
    }

  }
}