.notification-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 310px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -150px;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: rgb(226, 125, 10);
  box-shadow: 5px 10px 30px -3px #8d8d8d;
  text-align: center;
  z-index: 19;

  span {
    color: white;
    font-weight: 300;
  }

  .btn-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    button {
      border: 1px solid white;
      border-radius: 3px;
      background-color: rgb(255, 255, 255);
      width: 55px;
      font-size: 0.9em;
      cursor: pointer;
      color: #666666;

      &:hover {
        background-color: rgb(211, 149, 253);
        color: white;
      }
    }
  }
}
.animationBounce {
  animation: moveDown 5s ease forwards;
}

.moveDownAndStay {
  animation: moveDownAndStay 0.3s ease forwards;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(160px);
    position: fixed;
  }
  55% {
    opacity: 1;
    transform: translateY(160px);
    position: fixed;
  }
  100% {
    opacity: 0;
    transform: translateY(-160px);
  }
}

@keyframes moveDownAndStay {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(195px);
    position: fixed;
  }
}
