.products-main-container{
  min-height: 100vh;
  background-color: antiquewhite;


  .products-browser-container{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(253, 245, 234);
  }

.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 15px 0;

}

}
